version: "3.4"

# Production environment override
services:
  pwa:
    image: ${API_PWA_IMAGE}:${API_PWA_TAG}

  php:
    image: ${API_PHP_IMAGE}:${API_PHP_TAG}
    environment:
      APP_ENV: prod
      SERVER_NAME: ${SERVER_NAME:-!CHANGEME!}
      TRUSTED_HOSTS: ${TRUSTED_HOSTS-!CHANGEME!}
    volumes:
      - ./../config/jwt:/srv/api/config/jwt
      - ./../config/secrets:/srv/api/config/secrets
      - ./../resources:/srv/api/resources
      - ./../media:/srv/api/media

  transport:
    image: ${API_TRANSPORT_IMAGE}:${API_PHP_TAG}
    environment:
      APP_ENV: prod
      SERVER_NAME: ${SERVER_NAME:-!CHANGEME!}
      TRUSTED_HOSTS: ${TRUSTED_HOSTS-!CHANGEME!}
    volumes:
      - ./../config/secrets:/srv/api/config/secrets

  caddy:
    image: ${API_CADDY_IMAGE}
    environment:
      PWA_UPSTREAM: pwa:80
      
  rabbitmq:
    ports:
      - 15672:15672
